body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: rgb(51, 51, 126);
}

.nav, .header, .content,
.call, .quote, .footer{
    padding: 0 200px;
}

.nav{
    height: 100px;
    width: auto;
    background-color: rgb(51, 51, 126);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: grey;
    margin: 40px;
}
.title{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.sign-up{
    width: 100px;
    height: 40px;
    background-color: dodgerblue;
    padding: 0;
    margin: 0;
}
button{
    padding: 0;
    margin: 0;
    border-radius: 10px;
    border: none;
}
.sign-up:hover{
    background-color: aqua;
    transition: 0.5s;
}
.header{
    height: 300px;
    width: auto;
    padding-bottom: 50px;
    background-color: rgb(51, 51, 126);
    display: flex;
    flex: 1;
    gap: 40px
}
.content{
    height: 300px;
    width: auto;
    padding: 0 250px;
    padding-bottom: 50px;
    margin: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quote-div{
    height: 300px;
    width: auto;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.quote{
    font-style: italic;
    font-size: 30px;
    text-align: center;
}
.quotee{
    font-weight: bold;
    text-align: right;
}
.call{
    height: 300px;
    width: auto;
    background-color: white;
}
.footer{
    height: 150px;
    background-color: gray;
}
.logo{
    font-size: 32px;
}
.menu-items{
    display: flex;
    gap: 20px;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
li{
    list-style: none;
}

.images{
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border-color: skyblue;
    border: 10px;
}
.cards{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-justify:distribute-all-lines;
}